*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

@import './partials/colors';

body{
    width:100%;
    height:100vh;
    background-color: $blue-dark;
}

a{
    text-decoration: none;
    color:$white;
}

svg, img{
    display: block;
    width: 100%;
}

p{
    font-size: 14px;
    color: $gray;
    letter-spacing: 1px;
    line-height: 140%;
}

.border{
    border: 1px solid $red;
}

@import './partials/layout';
@import './partials/menu';
@import './partials/animacoes';