$white: #F0F3F7;
$white-dark: #E3E8EF;
$white-light: #F8FBFF;

$blue: #14181F;
$blue-dark: #0A0C10;
$blue-light: #272A31;

$gray: #787A7E;
$gray-dark: #444649;
$gray-light: #C4C6C8;

$red: #Ea1d22;
$red-dark: #b31317;
$red-light: #f02a2f;