.container {
  max-width: 1200px;
  height: 90vh;
  margin: 0 auto;

  padding: 36px 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-item-1 {
  max-width: 480px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 10px;
}

.spider {
  width: 140%;
  transform: translate3d(-160px, 0, 0);
}

.btn {
  display: inline-block;

  padding: 12px 32px;
  border-radius: 3px;

  transform: skew(-10deg);

  text-transform: uppercase;
  background: var(
    --gradient-gradient-1,
    linear-gradient(225deg, #ea1d22 0%, #92070a 100%)
  );

  transition: 0.5s ease;

  &:hover {
    transform: scale(1.03);
  }
}
.flex {
  display: flex;

  gap: 5px;
}

.ali {
  align-items: center;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
  overflow: hidden;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: linear-gradient(
      101deg,
      #0a0c10 26.38%,
      rgba(10, 12, 16, 0.8) 50.07%,
      #0a0c10 73.17%
    );
  }
}

.bg-loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 999;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(225deg, $red 0%, $red-dark 100%);
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    height: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
  }

  .bg-loader {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 999;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(225deg, $red 0%, $red-dark 100%);
  }

  .spider1 {
    width: 200px;
  }

  .spider {
    width: 90%;
    transform: translate3d(-10px, 0, 0);
  }
}
