// Background
$background: #f4f4f4;

//Colors
$black: #000;
$blackOpacity: rgba(0, 0, 0, 0.7);
$white: #fff;

//gradient
$gradientBlue: linear-gradient(91deg, #098be7 0.66%, #5d98c3 99.65%);
$blue: #098be7;
