.container-right {
  width: 100%;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 3rem 1rem;
}

.network {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 10px;
}

.network-items1 {
  width: 100%;
  max-width: 45%;
  height: 380px;

  border-radius: 20px;
  background: #110e1b;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

.network-items2 {
  width: 100%;
  max-width: 53%;
  height: 380px;

  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.network-items3 {
  width: 100%;
  max-width: 97%;
  height: 48%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 20px;
  background: $white;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.04);

  padding: 40px 25px;
}

.network-items4 {
  width: 100%;
  max-width: 47%;
  height: 48%;

  display: flex;
  align-items: center;
  padding: 40px 25px;

  border-radius: 20px;
  background: $white;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.04);
}

.next-left > img {
  width: 40px;
  border-radius: 8px;
}

.next-left > h3 {
  font-size: 14px;
  font-weight: 500;
}

.next-left > p {
  font-size: 12px;
}

.divBanner {
  width: 220px;
  height: 120px;
  border-radius: 12px;

  background-image: url("../img/bannerTask.png");
  background-size: cover;
  background-position: center;
}

/* --- Responsividade ---*/

/* ---- Mobile ----*/
@media screen and (max-width: 767px) {
  .container-right {
    width: 100%;
    padding: 1rem 0rem;
  }

  .network {
    width: 100%;
    gap: 12px;
  }

  .network-items1 {
    width: 100%;
    min-width: 100%;
    height: 180px;

    border-radius: 12px;
  }

  .network-items2 {
    width: 100%;
    max-width: 420px;
    height: 350px;

    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .network-items3 {
    width: 100%;
    height: 160px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;

    border-radius: 12px;
    background: $white;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.04);

    padding: 20px 15px;
  }

  .divBanner {
    width: 170px;
    height: 98px;
    border-radius: 12px;

    background-image: url("../img/bannerTask.png");
    background-size: cover;
    background-position: center;
  }

  .network-items4 {
    width: 48%;
    max-width: 220px;
    height: 160px;

    display: flex;
    align-items: center;
    padding: 20px 15px;

    border-radius: 12px;
  }
}

/* --- Responsividade ---*/

/* ---- Tablet ----*/
/*
@media (min-width: 768px) and (max-width: 1023px)
*/

@media (min-width: 768px) and (max-width: 1023px) {
  .container-right {
    width: 100%;
    max-width: 60%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 3rem 1rem;
  }

  .container-right {
    width: 100%;
    padding: 1rem 0rem;
  }

  .network-items1 {
    width: 100%;
    min-width: 100%;
    height: 240px;

    border-radius: 12px;
  }

  .network-items2 {
    width: 100%;
    max-width: 420px;
    height: 350px;

    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .divBanner {
    width: 160px;
    height: 90px;
    border-radius: 12px;

    background-image: url("../img/bannerTask.png");
    background-size: cover;
    background-position: center;
  }
}
