.portifolio1 {
  width: 100%;
  max-width: 48%;
  height: 350px;

  background-image: url("../img/spidermen.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;

  position: relative;
}

.portifolio2 {
  width: 100%;
  max-width: 48%;
  height: 350px;

  background-image: url("../img/churrascometro.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;

  position: relative;
}
