h3 {
  color: $black;
  margin-bottom: 20px;
}

.cont-projetos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 12px;
}

.projeto1 {
  width: 100%;
  max-width: 48%;
  height: 350px;

  background-image: url("../img/luana.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;

  position: relative;
}

.projeto2 {
  width: 100%;
  max-width: 48%;
  height: 350px;

  background-image: url("../img/formagios.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;

  position: relative;
}

.projeto3 {
  width: 100%;
  max-width: 48%;
  height: 350px;

  background-image: url("../img/peacework.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;

  position: relative;
}

.projeto4 {
  width: 100%;
  max-width: 48%;
  height: 350px;

  background-image: url("../img/evo.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;

  position: relative;
}

.projeto1 > p {
  position: absolute;
  bottom: 20px;
  left: 20px;

  color: $white;
  font-size: 12px;
  padding: 4px 18px;
  border-radius: 6px;
  border: 0.8px solid rgba(255, 255, 255, 0.35);
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(2px);
  letter-spacing: 0px;
}

.projeto1 > img {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* --- Responsividade ---*/

/* ---- Mobile ----*/
@media screen and (max-width: 767px) {
  .projeto1 {
    width: 100%;
    min-width: 100%;
    height: 280px;

    position: relative;
  }
}

/* --- Responsividade ---*/

/* ---- Tablet ----*/
/*
@media (min-width: 768px) and (max-width: 1023px)
*/

@media (min-width: 768px) and (max-width: 1023px) {
  .projeto1 {
    width: 100%;
    min-width: 100%;
    height: 280px;

    position: relative;
  }
}
